@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin theme_color($color) {
  // 通过此函数修改主题色
  background-color: $color;

  [data-theme="red"] & {
    background-color: $background-theme-red;
  }

  [data-theme="blue"] & {
    background-color: $background-theme-blue;
  }

  [data-theme="green"] & {
    background-color: $background-theme-green;
  }
}